{% extends "base.html" %}
{% block scripts %}
<script language="javascript" src="/static/js/recom_review.js"></script>
{% endblock %}
{% block title %}
Review of recommedations
{% endblock %}

{% block body %}
<h1>Avito recommendations review</h1>
<hr/>
<div ng-app="recom_review" ng-controller="reviewCtrl">
    <div class="center-block no-margin" >
        <a class="btn btn-sm btn-default " ng-click="nextUser(-1)">
            <span class="glyphicon glyphicon-transfer" aria-hidden="true" ></span>
            prev
        </a>
        <a class="btn btn-sm btn-default " ng-click="nextUser(1)">
            <span class="glyphicon glyphicon-transfer" aria-hidden="true" ></span>
            next
        </a>
        {% raw %} <b>user id:</b>{{user_id}} {% endraw %}

    </div>
    <div class="row no-margin">
        <div class="panel panel-default col-md-5 no-hor-pad" >
            <div class="panel-heading">
                <strong>History</strong>
            </div>
            <table class="table table-striped table-condensed" >
                {% raw %}
                <thead>
                <tr>
                    <th class="col-md-6" >item_id</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in history">
                    <td class="col-md-1"> {{item.item_id }}</td>
                </tr>
                </tbody>
                {% endraw %}
            </table>
        </div>

        <div class="panel panel-default col-md-5 no-hor-pad right-panel" >
            <div class="panel-heading">
                <strong>Recommended</strong>
            </div>
            <table class="table table-striped table-condensed" >
                {% raw %}
                <thead>
                <tr>
                    <th class="col-md-1" >item_id</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in recoms">
                    <td class="col-md-1"> {{item.item_id }}</td>
                </tr>
                </tbody>
                {% endraw %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
